/MyFirstGUI/nbproject/private/
/MyFirstGUI/build/
/JavaApplication2/nbproject/private/
/MyFirstGUI/dist/
/Calculator/nbproject/private/
/Calculator/build/
/Calculator/dist/
/TextAnalyzer/nbproject/private/
/TextAnalyzer/build/
